.BlogItem-container {
  display: flex;
  flex-direction: column;
}
.BlogItem-title {
  font-size: 1.1rem;
}
.BlogItem-details {
  display: flex;
  flex-direction: column;
  background-color: rgb(218, 255, 240);
  font-size: 0.9rem;
  list-style: none;
  width: 50%;
}

button {
  margin: 5px;
  border: none;
  padding: 5px;
  background-image: linear-gradient(
    to bottom right,
    rgb(188, 234, 255),
    rgb(136, 212, 202)
  );
  border-radius: 3px;
  color: rgb(85, 85, 85);
  font-weight: 500;
}
