.success-posting {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  color: rgb(74, 122, 74);
  background-color: rgb(199, 199, 199);
  border: 3px solid rgb(74, 122, 74);
  border-radius: 4px;
}
.failure-login {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  color: rgb(201, 37, 37);
  background-color: rgb(238, 215, 215);
  border: 3px solid rgb(235, 52, 52);
  border-radius: 4px;
}
